[submodule "frontend"]
	path = frontend
	url = https://github.com/JASHWANTHvm/Frontend_submodules.git
[submodule "backend"]
	path = backend
	url = https://github.com/JASHWANTHvm/Backend_submodules.git
